<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="register-app">
        <h1>用户注册</h1>

        <input type="text" v-model="username" placeholder="请输入用户名">
        <br><br>

        <input type="password" v-model="password" placeholder="请输入密码">
        <br><br>

        <button @click="register">注册</button>
    </div>
    <script src="./register.js"></script>
</body>
</html>